 [[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tiktoken = "*"
openai = "*"
pinecone-client = "*"
sentence-transformers = "*"
instructorembedding = "*"
transformers = "*"
protobuf = "*"
async-timeout = "*"
python-multipart = "*"
pypdf = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
